/* Reset default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Global styles */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
}

/* Header styles */
header {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
}

.logo, nav {
    text-align: center;
}

.logo h1 {
    margin: 0;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline-block;
    margin-left: 20px;
}

nav ul li:first-child {
    margin-left: 0;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

nav ul li a:hover {
    text-decoration: underline;
}

/* Main content styles */
main {
    padding: 20px 0;
}

.introduction {
    text-align: center;
    padding: 40px 0;
}

.docs, .gallery, .mods, .pc-builds, .about {
    padding: 20px 0;
}

.docs .doc-item, .gallery .gallery-item, .mods .mod-item, .pc-builds .build-item, .about {
    background: #f9f9f9;
    padding: 20px;
    margin: 10px 0;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.docs .doc-item h3, .gallery .gallery-item h2, .mods .mod-item h2, .pc-builds .build-item h3, .about h2 {
    margin-top: 0;
    text-align: center; /* Center the heading */
}

.docs .doc-item a, .gallery .gallery-item a, .mods .mod-item a, .pc-builds .build-item a, .about a {
    display: inline-block;
    margin-top: 10px;
    color: #333;
    text-decoration: none;
    border: 1px solid #333;
    padding: 5px 10px;
}

.docs .doc-item a:hover, .gallery .gallery-item a:hover, .mods .mod-item a:hover, .pc-builds .build-item a:hover, .about a:hover {
    background-color: #333;
    color: #fff;
}

.gallery-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.gallery-item, .mods .mod-item {
    flex: 1 1 calc(33.333% - 20px);
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    overflow: hidden;
    background: #f9f9f9;
    padding: 20px;
    margin: 10px 0;
}

.gallery-item img, .mods .mod-item img {
    width: 100%;
    height: auto;
    display: block;
    max-width: 100%;
}

/* Footer styles */
footer {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
}

.footer-links, .footer-social {
    width: 45%;
    text-align: center;
    display: inline-block;
    vertical-align: top;
}

.footer-links h3, .footer-social h3 {
    margin-bottom: 10px;
}

.footer-links ul, .footer-social ul {
    list-style-type: none;
    padding: 0;
}

.footer-links ul li, .footer-social ul li {
    margin-bottom: 10px;
}

.footer-links ul li a, .footer-social ul li a {
    color: #fff;
    text-decoration: none;
}

.footer-copyright {
    text-align: center;
    margin-top: 20px;
}
